@model StudioMusica.Models.Album

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--
<h1>Details</h1>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAlbum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAlbum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Formato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Formato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto)
        </dd>
    </dl>
</div
<div>
    <a asp-action="Edit" asp-route-id="@Model.AlbumID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>>-->

<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="iq-card">
                    <div class="iq-card-body">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Nome)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DataAlbum)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DataAlbum)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Formato)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Formato)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Genero)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Genero)
                        </dd>
                        <div>
                            <a asp-action="Edit" asp-route-id="@Model.AlbumID">Editar</a> |
                            <a asp-action="IndexAlbum">Sair</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>