@model IEnumerable<StudioMusica.Models.Faixa>

@{
    ViewData["Title"] = "IndexFaixa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Faixas Musicais</h1>

<p>
    <a asp-action="CreateFaixa">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataLancamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volume)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataLancamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volume)
            </td>
            <td>
                <a asp-action="EditFaixa" asp-route-id="@item.FaixaId">Edit</a> |
                <a asp-action="DetailsFaixa" asp-route-id="@item.FaixaId">Details</a> |
                <a asp-action="DeleteFaixa" asp-route-id="@item.FaixaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
