@model StudioMusica.Models.Instrumento

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--
<h1>Details</h1>

<div>
    <h4>Instrumento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Serie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Serie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InstrumentoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
-->
<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="iq-card">
                    <div class="iq-card-body">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Nome)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Marca)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Marca)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Modelo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Modelo)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Serie)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Serie)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Cor)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Cor)
                        </dd>
                        <div>
                            <a asp-action="Edit" asp-route-id="@Model.InstrumentoID">Editar</a> |
                            <a asp-action="IndexInstrumento">Sair</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>