@model StudioMusica.Models.Faixa

@{
    ViewData["Title"] = "DetailsFaixa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--
<h1>DetailsFaixa</h1>

<div>
    <h4>Faixa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataLancamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataLancamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Volume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Volume)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditFaixa" asp-route-id="@Model.FaixaID">Editar</a> |
    <a asp-action="IndexFaixa">Voltar a Lista</a>
</div>
-->

<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="iq-card">
                    <div class="iq-card-body">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Nome)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Autor)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Autor)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DataLancamento)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DataLancamento)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Volume)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Volume)
                        </dd>
                        <div>
                            <a asp-action="Edit" asp-route-id="@Model.FaixaID">Editar</a> |
                            <a asp-action="Index">Voltar a Lista</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>