@model StudioMusica.Models.Musico

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--
<h1>Details</h1>

<div>
    <h4>Musico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereço)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereço)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MusicoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
-->
<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="iq-card">
                    <h1>Visualizar</h1>
                    <div class="iq-card-body">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Nome)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Telefone)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Telefone)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Endereço)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Endereço)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Numero)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Numero)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Estado)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Estado)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Cidade)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Cidade)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Bairro)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Bairro)
                        </dd>
                        <div>
                            <a asp-action="Edit" asp-route-id="@Model.MusicoID">Editar</a> |
                            <a asp-action="Indexmusico">Sair</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>